# 忽略演示视频和文档
Content/演示视频/
Docs/发布动态
Docs/遇到根本找不到原因的玄学bug花了6h排查原因竟是因为父级目录问题随记

# 忽略图标文件
Assets/ICON/FTC_ICO_V1.0.ico
Assets/ICON/FTC_ICO_V1.0.png
Assets/ICON/FTC_ICO_V1.0.svg
Assets/ICON/FTC_ICO_V1.1.ico
Assets/ICON/FTC_ICO_V1.1.png
Assets/ICON/FTC_ICO_V1.2.ico
Assets/Test/Picture/Input/a.ai

#忽略测试输出
Assets/Test/Picture/Output/

# 忽略构建文件
Build/*.exe
*.o

# 忽略静态库文件
## include
Lib/GCC/ffmpeg/include/libavcodec
Lib/GCC/ffmpeg/include/libavdevice
Lib/GCC/ffmpeg/include/libavfilter
Lib/GCC/ffmpeg/include/libavformat
Lib/GCC/ffmpeg/include/libavutil
Lib/GCC/ffmpeg/include/libswresample
Lib/GCC/ffmpeg/include/libswscale
##  lib
Lib/GCC/ffmpeg/lib/libavcodec.a
Lib/GCC/ffmpeg/lib/libavcodec.dll.a
Lib/GCC/ffmpeg/lib/libavdevice.a
Lib/GCC/ffmpeg/lib/libavdevice.dll.a
Lib/GCC/ffmpeg/lib/libavfilter.a
Lib/GCC/ffmpeg/lib/libavfilter.dll.a
Lib/GCC/ffmpeg/lib/libavformat.a
Lib/GCC/ffmpeg/lib/libavformat.dll.a
Lib/GCC/ffmpeg/lib/libavicap32.a
Lib/GCC/ffmpeg/lib/libavifil32.a
Lib/GCC/ffmpeg/lib/libavrt.a
Lib/GCC/ffmpeg/lib/libavutil.a
Lib/GCC/ffmpeg/lib/libavutil.dll.a
Lib/GCC/ffmpeg/lib/libswresample.a
Lib/GCC/ffmpeg/lib/libswresample.dll.a
Lib/GCC/ffmpeg/lib/libswscale.a
Lib/GCC/ffmpeg/lib/libswscale.dll.a

